body {
	margin-left: 100px;
	background-color: #F7F7F7;
}
.container2 {
	height: 310px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 80px;
	display: flex;
}

.profile {
	height: 800px;
	text-align: center;
}

.logo {
   	max-height: 25%;
   	max-width: auto;

    border-radius: 10px;
    border: 8px solid rgba(34,102,102,0.4);
}

h1 {
	margin-top: 3px;
	font-family: 'Rancho', cursive;
	font-weight: 600;
	font-size: 160%;
	color: #667086;
}

.banner {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;

	max-height: 198px;
	width: 1160px;

	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 4px 4px 5px #959FB7;
	background-image: url(bg.png);

}

.mainTitle {
	white-space: nowrap;
	margin: 80px 170px 50px 160px;
	color: #223C16;
	font-size: 40px;
	font-weight: 600;
	font-family: 'Crimson Pro', serif;
}

.banner p {
	margin: 150px 10px 5px 10px;
	text-decoration: underline;
	font-size: 1.6rem;
	white-space: nowrap;
	font-family: 'Indie Flower', cursive;
	font-weight: 600;
}

.banner p:hover {
	cursor: pointer;
	color: #85A4ED;
}

.visiting {
	color: #85A4ED;
}

a:visited {
  color: inherit;
}

.contentSpace {
	margin: 70px 0px 0px 120px;
}

h2 {
	margin: 0px 0px;
	height: 40px;
	font-size: 40px;
	font-weight: 600;
	font-family: 'Crimson Pro', serif;
}

.blankSpace {
	height: 200px;
}

.orangeLine {
	margin: 20px auto;
  	color: #F05F44;
  	border: 3px solid #F05F44;
  	max-width: 65px;
  	opacity: 1;  
}

footer p {
	margin-bottom: 30px;
	text-align: center;
	color: #7D828F;
	font-family: 'Satisfy', cursive;
	font-size: 120%;
	font-weight: 100;

}
